{% load static %}
<!DOCTYPE html>
<html lang='eng'>
    <head>
        <title>Django Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        {% comment %}
        Django for Beginners - Chapter 05
        <header>
            <h1><a href="{% url 'home' %}">Django Blog</a></h1>
        </header>
        <div>
            {% block content %}
            {% endblock content %}
        </div>
        {% endcomment %}
        <div>
            <header>
                <div class="nav-left">
                    <h1><a href="{% url 'home' %}">Django blog</a></h1>
                </div>
                <div class="nav-right">
                    <a href="{% url 'post_new' %}">+ New Blog Post</a>
                </div>
            </header>
            
            {% block content %}
                
            {% endblock content %}
                
        </div>
    </body>
</html>